# Default ignored files
/../../Exercises./.idea/shelf/
/../../Exercises./.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\ClionProject\C++ Primer\One\Exercises.\.idea/dataSources/
/../../Exercises./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../Exercises./.idea/httpRequests/
